{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row justify-between w-full custom-background">
        <img class="w-full max-h-64 md:w-3/6 md:max-h-[800px] object-cover" src="{{ asset('build/images/conviction.webp') }}" alt="flower"/>
        <div class=" w-full flex flex-col justify-start items-center pt-5 md:pt-20">
            <div class="w-8/12 flex flex-col justify-between items-stretch">
                <h1 class="text-3xl mb-10">Connexion</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}


                {{ form_start(loginForm) }}
                <div class="flex flex-col justify-between items-stretch w-full mt-10">
                    {{ form_label(loginForm.email, null, {'label_attr': {'class': 'text-slate-700'}}) }}
                    {{ form_widget(loginForm.email, {'attr': {'class': 'border border-slate-600 h-16 text-3xl mt-5 custom-background-form'}}) }}
                </div>
                <div class="flex flex-col justify-between items-stretch mt-10">
                    {{ form_label(loginForm.password, null, {'label_attr': {'class': 'text-slate-700'}}) }}
                    {{ form_widget(loginForm.password, {'attr': {'class': 'border border-slate-600 h-16 text-3xl mt-5 custom-background-form'}}) }}
                </div>
                <div class="w-full mt-10 ">
                    {{ form_widget(loginForm.submit, {'attr': {'class': 'text-white w-full bg-gray-600 h-16 text-lg'}}) }}
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                {{ form_end(loginForm) }}
                <div class="w-full flex items-center justify-center mt-10">
                    <a href="/register" class="underline text-slate-700">Pas encore de compte ? S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}